/* =============================================================================
   Primary styles
   Author: Pol Cámara
   ========================================================================== */


body{
	font-family: Verdana, Arial, sans-serif; background: url('../img/background.png');
	font-size: 12px;
	color: #555;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 { font-family: trebuchet MS,verdana,arial,sans-serif; color: #B87DD4; font-weight:normal;}

.wrapper{
	margin:auto;
	width:960px;
}


li {
    list-style-image: url("../img/bullet.png");
    
}

#top_bar {
    background: none repeat scroll 0% 0% #2A2A2A; 
    border-bottom: 7px solid #E9E9E9; 
    height: 26px;
}
    #top_bar .wrapper {
        color: #fff; 
        line-height: 26px;
        
    }

    #top_bar a {
        color: #fff;
        text-decoration: none;
        padding-top: 4px;    
    }
    #top_bar a:hover {
        border-top: 2px solid white;
    }

    #top_bar #social {
        float: right;
        height: 26px;
    }
    
    #top_bar #social a {
        border: none;
        text-decoration: none;
    }

    #top_bar #social a:hover {
        text-decoration: none;
    }

    #top_bar #social img {
        margin-left: 5px;
        margin-right: 5px;
    }

/* End Top_bar */

#home_catchline {
    clear:both;
    margin-top: 10px;
}

#catchline {
    float: right;
    margin-top: 40px;
    width: 525px;
}
    #catchline h1 {
        font-weight: normal;
        font-size: 35px;
        color: #3b383e;
        margin-bottom: 25px;
    }
    #catchline em {
        color: #555;
    }


#home_ctas {
    text-align:center;   
}

    #home_ctas strong {
        font-size: 17px;
        vertical-align: super;
        margin: 0 5px;
    }

.cta_button {
    border: 1px solid #D7B800;
    color: #CB841D;
    display: inline-block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 175px;
    font-size: 12px;
    background-image: linear-gradient(bottom, #FAE13E 26%, #FFFDEF 93%);
    background-image: -o-linear-gradient(bottom, #FAE13E 26%, #FFFDEF 93%);
    background-image: -moz-linear-gradient(bottom, #FAE13E 26%, #FFFDEF 93%);
    background-image: -webkit-linear-gradient(bottom, #FAE13E 26%, #FFFDEF 93%);
    background-image: -ms-linear-gradient(bottom, #FAE13E 26%, #FFFDEF 93%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.26, #FAE13E), color-stop(0.93, #FFFDEF));
}

    .cta_button:hover {
        text-decoration:underline;
    }

    .cta_button strong {
        display: block;
        font-size: 17px;
        padding-bottom: 4px;
    }

#page-wrapper {
    background: url(../img/magic_circle.jpg) no-repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    clear: both;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 980px;
}


#header-container{
	border-bottom:20px solid #e44d26;
	margin-bottom:50px;
	-webkit-box-shadow:0 40px 40px -40px #AAA;
	   -moz-box-shadow:0 40px 40px -40px #AAA;
	        box-shadow:0 40px 40px -40px #AAA;
}


#title{
    display:none;
    float:left;
}

header nav {
    border-bottom: 1px solid #CCCCCC;
    float: right;
    margin-top: 40px;
    padding-bottom: 8px;
}

    header nav ul li {
        display: inline;
    }

    header nav a {
        color: #b87dd4;
        padding: 8px;
        text-decoration: none;
        font-size: 18px;
    }

    header nav a:hover {
        border-bottom: 3px solid #b87dd4;
    }

    header nav a.active {
        background: none repeat scroll 0 0 #B87DD4;
        color: #fff;
        padding-bottom: 10px;
        padding-top: 12px;    
    }

/* end header nav */


#three_features {
    margin-top: 30px;
}

    #three_features li {
        float: left;
        list-style: none outside none;
        padding: 15px 0;
        margin: 0 10px;
        width: 300px;
        border-bottom: 1px solid #CCCCCC;
        border-top: 1px solid #CCCCCC;
    }

    #three_features li:first-child {
        margin-left: 0;
        margin-right: 20px;
    }
    
    #three_features li:last-child {
        margin-right: 0;
        margin-left: 20px;
    }

    #three_features ul {
        margin: 0 !important;
        padding: 0 !important;
    }

    
    #two_features ul li ul li {
        line-height: 1.8em;
        margin-left: 40px;
        padding-left: 5px;
        line-height: 1.8em;
        list-style: url("../img/bullet.png");
    }

    #three_features h2 {
        margin-bottom: 10px;
        margin-top: 0;
    }




/* end three_features */


#two_features {
    margin-top: 30px;    
}

    #two_features li {
        float: left;
        list-style: none outside none;
        margin: 0;
        padding-bottom: 0;
        padding-right: 15px;
        padding-top: 0;
        width: 585px;
    }
    #two_features ul {
        margin: 0 !important;
        padding: 0 !important;
    }

    #two_features ul ul {
        margin-left: 10px
    }
    #two_features h2 {
        margin-bottom: 12px;
        margin-top: 0;
    }

/* end two_features */


#did_you_know p {
    background: none repeat scroll 0 0 #C9F1E3;
    border: 1px solid #74CA94;
    border-radius: 10px 10px 10px 10px;
    font-size: 14px;
    margin-left: 400px;
    margin-right: 100px;
    padding: 15px 20px;
}
    #did_you_know p strong {
        display: block;
        margin-bottom: 10px;
    }

    #did_you_know {
        background: url("../img/pete_quote.png") no-repeat scroll 85px 0 transparent;
        min-height: 100px;
    }

/* end did_you_know */


#main p{
	font:16px/26px Helvetica, Helvetica Neue, Arial;
	width:620px;
}

article header{
	margin-bottom:50px;
	padding-bottom:30px;
	width:700px;
	-webkit-box-shadow:0 45px 60px -60px #AAA;
	   -moz-box-shadow:0 45px 60px -60px #AAA;
	        box-shadow:0 45px 60px -60px #AAA;
}

#footer-container{
	background-color:#171717;
	height:240px;
	border-top:20px solid #2a2a2a;
	-webkit-box-shadow:0 -40px 40px -40px #AAA;
	   -moz-box-shadow:0 -40px 40px -40px #AAA;
	        box-shadow:0 -40px 40px -40px #AAA;
}

#footer-container footer{
	color:white;
}


footer nav {
    background: url("../img/footer_logo.jpg") no-repeat scroll 0 15px transparent;
    float: left;
    min-height: 53px;
    padding-left: 100px;
    padding-top: 15px;
}

    footer nav a {
        color: #FFFFFF;
        text-decoration: none;
    }
    
    footer nav a:hover {
        color: #FFFFFF;
        text-decoration: underline;
    }
    
    footer nav li {
        display: inline;
        list-style: none outside none;
    }
    
    footer nav li:after {
        content: " |";
    }
    footer nav li:last-child:after {
        content: "";
    }
    
/* end footer nav */


#news_photostream h3 {
    font-size: 18px;
    margin: 0;
}

#news_photostream p {
    margin: 5px 0 10px;
}


#news_photostream #news {
    float: left;
    width: 470px;
}


#news_photostream #photostream li {
    list-style: none;
    display: inline;
}

#scroll_up {
    background: none repeat scroll 0 0 #2A2A2A;
    border: 2px solid #3A3A3A;
    border-radius: 10px 10px 10px 10px;
    display: block;
    float: right;
    margin-top: 10px;
    padding: 10px;
}

    #scroll_up:hover {
        background: #3a3a3a;
        border: 2px solid #4a4a4a;
    }

/* End scroll_up */


/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

.center_text { text-align:center; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }